#OldestGrid{
  text-align: center;
  display:grid;
  grid-template-columns:1fr 2fr 1fr ;
  height: 100vh;
}

.br-1{
  border:1px solid black;
}

.br-1w{
  border:1px solid white;
}

.r{
  border-radius: 10px;
}

.bg-blue{
  background-color: #173F5F;
}