*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#OldestGrid{
  text-align: center;
  display:grid;
  grid-template-columns:0.75fr 2fr 0.75fr ;
  height: 100vh;
 
}

.br-1{
  /* border:1px solid black; */
}

.br-1w{
  /* border:1px solid white; */
}

.r{
  border-radius: 10px;
}

.bg-blue{
  background-color: #4961a2;
}

.al-l{
  text-align: start;
}

.al-c{
  text-align: center;
}
.al-r{
  text-align: right;
}