#InfoSection{
    background-color: #e3eaf1;
}

#Info{
    background-color: #c6d4ef;
    position: relative;
    height: 80%;
    width: 95%;
    left:50%; 
    transform: translateX(-50%);
    top:10%;
    padding-top: 15%;
    font-size: 2em;
}

#candidates{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    text-align: left;
    padding-left: 10%;
    font-size: 0.7em;
}